name: OpenCPN Plugins Manual

on:
  push:
    branches:
      - build

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build_site:
    name: "Build site with Antora"
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: "Build and deploy"
        run: ci/build-and-deploy.sh
      - name: "Check links"
        run: ci/linkchecker.sh
      - name: "Full linkcheck (requires [full-linkcheck] in subject)"
        run: ci/w3c-linkcheck.sh
